
html {
height: 100%;
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size:12pt;
color:#FFFFFF;

}

* {
margin: 0;
}



.col-left {
    float:left;
    margin-right:5px;
}
    
.col-right {
    float:right; 
    position:relative; 
    width:23%; 
    min-height:400px; 
    padding:5px 4px 5px 7px; 
    border:solid 1px #FFFFFF;

}


body {
	background:#F49B4B url('../images/halloween-top-stars.png') repeat-x; 
	/*background:#CCCCCC ;*/ 
	height:100%;
}

#header {
	background: url('../images/header.png') no-repeat; 
	margin:20px auto 20px auto;
	width: 485px;
	height:74px;

}

#moon {
	background: url('../images/moon.png') no-repeat;
	position:absolute;
	height:117px;
	width: 114px;
	top: 00px;
	left: 80%;
	z-index:10;
}

.witch {
	position:absolute;
	left:8%;
	top: 30px;
}    

.witch2 {
	position:absolute;
	left:88%;
	top: 30px;
}   


#content-wrapper {	

	min-height: 800px;
	height: auto;
	height: 100%;
	margin: 0 auto -300px auto; /* the bottom margin is the negative value of the footer's height */
	
}

#back-layer1
{
	min-width: 980px;
    min-height: 400px;
	height: auto;
	background-color:#FFFFFF;
	margin:0 6% 320px 6%;
	padding:20px;


}

#content-body {

	min-width: 980px;
    min-height: 400px;
	height: auto;
	margin:0 6% 320px 6%;
	padding:20px;
	text-align:left;
	background-color:#444444;
}

#content-bodyV1 {

	min-width: 980px;
    min-height: 400px;
	height: auto;
	margin:0 6% 320px 6%;
	padding:20px;
	text-align:left;

	
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, .95);
	 /*For IE 5.5 - 7*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#65000000, endColorstr=#65FFFFFF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#10FFFFFF)";
}

#footer {
	background: url('../images/halloween-footer.png') repeat-x;
	width:100%;
	height:300px;
	margin-top:20px;

}
/*
#nav-wrapper { 
    width:800px;
    margin: 4px auto;
    background: #ffffff;
    height:42px;
    
}
*/

.nav-item li 
{
    float:left; 
    display:block;
    width:150px;
    padding:5px 10px;
    margin: 5px;
    list-style-type:none;

    font-family:Comic Sans MS;
    font-size:18;
    font-weight:bold;
    background:#cccccc;

    
}

.row-width-50 td {
	width:50%;
}

.repeater-item {
    min-height:210px;
    width:95%;
    margin: 2px auto;

}

.lbl 
{
    position:relative;
    float: left;  
    width:100px;

    clear:left;
    padding-bottom: 10px;

}

.RelativeFloatLeft
{
    position:relative;
    float: left;  
    padding-bottom: 10px;
    
}

.clearfloat {
    clear:both;
}


.col 
{
    float:left;
    position:relative;
    width:400px;    

}

fieldset
{width:72%;
        
}

legend 
{
    font-weight:bold;
    font-size:larger;
    color:#FFFFFF;
}

.vld 
{
    float: left; 
    max-width:140px;
    color:#FFFFFF;
    padding-left:4px;
}

.txt-sm
{
    float: left; 
    width:200px;
    
}

.txt-org
{
    color:#F49B4B;
}

/*archived
.detail-block 
{
    float:left;
    position:relative;
    display:block;
    clear:both;
        
}
*/

.txt-detail 
{

    overflow:hidden;    
}

.tmarg-20
{
    margin-top:20px;
}

.tmarg-30
{
    margin-top:30px;
    left: 2px;
}

.bmarg-20
{
    margin-bottom:20px;
}

.bmarg-10
{
    margin-bottom:20px;
}

.plus-15 
{
    font-size:115%;    
}

.bk 
{
    color:#000000;
}

.bk a:link, .bk a:visited, .bk a:active {color:#000000;}

a:link, a:visited, a:active {color:#FFFFFF;}

a:hover {color: #F49B4B;}

